#wrapper {
    padding-top: 2%;
}

.buttons-wrapper {
    text-align: center; /* Optional: Align buttons to the center */
  }
  
  .button-input {
    font-size: 30px;
    background-color: #9cd5a0; /* Set the background color to blue */
    color: white; /* Set text color to white */
    padding: 15px 25px; /* Add padding for better appearance */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    margin: 10px; /* Optional: Add margin for spacing between buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  /* Optional: Style for button hover effect */
  .button-input:hover {
    background-color: #5e937e; /* Change background color on hover */
  }  

#cards {
    position: relative; 
    text-align: center;
}

.card {
    display: inline-block; 
    padding: 1.7%;
    margin: 0.05%;  
    color: white; 
    background-color: #FF6F61; 
}

#legend-comment-wrapper {
    padding-top: 2%;
    height: 27vh;
}

.comment-box {
    margin: auto;
}

.slidecontainer {
    padding-top: 0%;
}

.buttons-wrapper {
    text-align: center;
    padding-top: 2%;
}

#question {
    /* font-size: 1.5vw; */
    text-align: justify;
    padding-bottom: 2%;
}

#typeSelect {
    padding-top: 2%;
    transition: padding-top 0.2s ease-out;
}

p,span {
    text-align: center;
}
